/* region common */
:root{
    --dropbox-dark: #000000;
    --dropbox-light: #dfdddb;
    --dropbox-lighter: #ffffff;
    --dropbox-primaery: #0567ff;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;

}
/* endregion common */
/* region utilies */
.posi-rela{
    position: relative;
}
.d-flex{
    display: flex;
}
.col-8{
    width: calc((100%/12)*8);
}
.col-6{
    width: calc((100%/12)*6);
}                     
.grow-1{
    flex-grow: 1;
}
.none-decoration:hover{
    text-decoration: none;
}                               
/* endregion utilies */

/* region header */
.site-header{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 4;
}
.header-left >img{
    width: 50px;
}
.header-right{
    margin-right: 50px;
    justify-content: flex-end;
}
.header-right > ul >li{
    padding: 15px;
    list-style: none;
}
.header-right > ul >li >a{
    text-decoration: none;
    color: var(--dropbox-dark);
}
.background-hover-header >li:hover{
    background-color: #e2cb99;
}
.dropdown{
    background-color: #e2cb99 ;
    padding: 5px 0;
    position: absolute;
    left: 0;
    top: 50px;
    width: 80%;
    display: none;
}
.dropdown > ul > li{
    list-style: none;
    line-height:30px ;
    padding-left: 20px;
    
}
.dropdown > ul > li > a{
    color: var(--dropbox-dark);
    text-decoration: none;
}
.dropdown > ul > li:hover{
    background-color: var(--dropbox-lighter);
}
.dropdown-btn:hover .dropdown{
    display: block;
}
/* endregion header */
 
/* region main */
.container{
    height: 100vh;
    font-size: 15px;
}

/* region main left */
.main-left{
    padding-top: 150px;
    background-color: var(--dropbox-lighter);
    padding-left: 15%;
    width: calc((100%/12)*5);
    margin-right: 40%;
}
.header-info-trial{
    margin-bottom: 60px;
}
h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 50px;
}
h2{
    font-weight: 500;
    margin: 10px 0;
}
.buy-dropbox{
    color: var(--dropbox-dark);
}
.info-plane{
    margin-bottom: 30px;
}
.info-plane > span{
    display: block;
    margin-left: 18px;
    line-height: 25px;
}
.text-light{
    color: gray;
}
form{
    margin: 20px 0;
    width: 100%;
}
.container-label{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 46%;
}
.container-label > label{
    display: block;
    margin-bottom: 5px;
}
.container-label > input{
    width: 100%;
    font-size: 15px;
    height: 55px;
}
.password-label{
    position: relative;
}
.elips-vertical{
    top:30px;
    right: 7px;
    font-size: 35px;
    z-index: 2;
    position: absolute;
}
.email-label{
    width: 100%;
    padding-right: 23px;
}
.email-label > input{
    width: 100%;
    margin-right: 80px;
}
.register-with-google{
    margin-top: 10px;
    border-radius: 0.3rem;
    width: 70%;
    border: 1px solid lightgray;
    padding: 5px;
    align-items: center;
    cursor: pointer;
}
.register-with-google > img{
    max-width: 30px;
    background-color: var(--dropbox-light);
}
.register-with-google:hover{
    background-color: #d2e3fc;
}
.text-google{
    justify-content: center;
}
.create-account{
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}
/* section policy info */
#policy{
    padding: 60px 0;
    border-bottom: 1px solid lightgrey;
}
#policy > p{
    margin-bottom: 40px;
}
.newsletter{
    margin-bottom: 30px;
}
input[type="checkbox"]{
    height: 18px;
    width: 18px;
    margin-right: 5px;
    cursor: pointer;
}
.start-btn-trial{
    margin-bottom: 80px;
    margin-top: 15px;
    background-color: var(--dropbox-primaery);
    color: var(--dropbox-lighter);
    width: 70%;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}
.start-btn-trial > span{
    font-size: 15px;
    font-weight: 700;
}
.start-btn-trial:hover{
    background-color: #004dc7;
}
.credential-dropbox > *{
    display: block;
    color: lightgrey;
}
/* section policy info */



/* endregion main left */
/* region right */
.main-right{
    padding-top: 150px;
    padding-left: 50px;
    background-color: var(--dropbox-light);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;


}
#summary > h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.left-header > img{
    width: 50px;
    border-radius: 0.75rem;
    margin-right: 10px;
}
.header-summary{
    font-size: 16px;
    margin-bottom: 25px;
}
.container-with-summary{
    padding-left: 60px;
    width: 80%;
}
.point-summary{
    line-height: 25px;
}
.point-summary > i{
    color: var(--dropbox-primaery);
    margin-right: 5px;

}
/* endregion right */


/* endregion main */

/* region  footer */
#site-footer{
    padding: 80PX 0;
}
#site-footer > span{
    padding-right: 40px;
    cursor: pointer;
}
#site-footer > span > a{
    text-decoration: none;
    color: var(--dropbox-dark)
}
#site-footer > span:hover a{
    text-decoration: underline;
}
/* endregion  footer */
