/* region common */

:root{
    --drophbox-light: #FFFFFF;
    --drophox-dark: #000000;
    --drophox-btn: #0061ff;
    --drophox-background-azzure: #b4d0e7;
    --drophox-text-important: #835971;
    --dropbox-designit: #a2d39b;
    --dropbox-florida-university: #0093ce;
    --dropbox-arizona-university: #61082b;
    --dropbox-toops: #ff1c1c;
    --dropbox-world-bicycle-relief: #d5001f;
    --dropbox-loney-planet: #0d2481;
    --dropbox-hearst-corporation: #b4d0e7;
    --dropbox-clear-channel-outdoor: #ffd830;
    --dropbox-backgroun-designit: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--drophox-dark);
    background-color: var(--drophbox-light);
    overflow-x: hidden;
}
/* end region common */

/* region utilies */
.container-big{
    max-width: 1850px;
    margin: auto;
}
.container-medium{
    max-width: 1200px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin: auto;
}
.d-flex{
    display: flex;
}
.grow-1{
    flex-grow: 1;
}
.col-8{
    width: calc((100%/12)*8);

}
.col-4-950{
    width: calc((950px/12)*4);
}
.col-4{
    width: calc((100%/12)*4);

}
li>a{
    text-decoration: none;
    color: var(--drophox-dark);
}
ul>li{
    list-style: none;
}
ul{
    gap: 2rem;
}
ul>li{
    list-style: none;
}
/* end region utilies */

/* region header */
#site-header{
width: 100vw;
height: 80px;
background-color: var(--drophbox-light);
}
.siderbar{
    align-items: center;
    height: 100%;
}
.left{
    gap: 2rem;
}
.right{
    justify-content: flex-end;
    align-items: center;
}
.d-flex + ul{
    align-items: center;
}
.btn{
    color: white;
    background-color: var(--drophox-btn);
    padding: 0.5rem 0.75rem;
    font-weight: 700;
    border: none;
}

/* end region header */

/* region main */

/* region main principal */
.main-principal{
    background-color: var(--drophox-background-azzure);
    width: 100vw;
}
h1{
    font-size: 80px;
    font-weight: 700;
    padding: 50px 0;
}
.info-use > *{
    display: block;
    margin: 35px 0;
}
.info-use > i{
    margin: 80px 0 10px;
    font-size: 50px;
}
.info-use-image > img{
    width: 100%;
    margin-bottom: -100px;
}

/* region main principal */

/* region section business */
.separatore{
    color: gray;
    padding-top: 10px;
}
h2{
    margin-top: 150px ;
    font-size: 40px;
}
.business-plane-radio{
    margin: 50px 0;
    gap: 2rem;
}
.continer-card-info{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.card-header{
    border-bottom: 1px solid gray;  
    text-align: center;  
    padding: 10px;
}
.card-body-info{
    padding: 30px;
}
.card-body-info > *{
    padding-bottom: 10px;
    gap: 0.5rem;
}
h3{
    font-size: 25px;
}
.price{
    display: block;
}
.price-on-month{
    color: gray;
}
.number-user-info{
    margin-top: 10px;
}

.btn-trial-for-30gg{
    margin: 30px 0;
    padding: 1rem 2rem;
}
.card{
    border: 1px solid gray;
}
.card-footer{
    padding: 0 30px 30px;
}
.card-footer > *{
    gap: 0.5rem;
    padding-bottom: 10px;
}
.point-of-the-plane > i{
    color: var(--drophox-btn);
}
.btn-contact > button{
    margin-bottom: 130px;
    padding: 0.5rem 2rem;
}
.btn-contact{
    justify-content: flex-end;
}
#settled-card-contact{
    display: block;
    padding: 20px 0 50px;
}
/* region section business */

/* region section partner dropbox */
.partner-dropbox{
    width: 100%;
    padding: 100px 0;
}
.image-partner > img{
    width: 100%;
}
.text-partner{
    padding: 50px 0 0 50px;
}
.text-partner > p {
    margin: 15px 0;
}
.btn-shadow{
    font-size: 20px;
    border: 1px solid;
    padding: 1rem;
    background-color: var(--drophbox-light);
}
/* endregion section partner dropbox */

/* region section multitasking dropbox */
.container-card-small{
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-small{
    padding-bottom: 30px;
}
.card-small > img{
    width:100%;
}
.card-small > p{
    margin-top: 25px
}
.own-clients-dropbox > h2{
    margin-bottom: 70px;
}
/*end region section multitasking dropbox */

/* region section partnership dropbox */
.partnership-dropbox{
    margin-top: 200px;
    width: 100vw;

}
.left-container-partnership{
    flex-wrap: wrap;
}
.square{
    width: calc((100%/12)*6);
    height: 320px;
    justify-content: center;
    align-items: center;
}
.width-image{
    width: 100%;
}
.width-image > img{
    width: 200px;
}

.left-container-partnership :first-child{
    background-color: var(--dropbox-designit);
}
.left-container-partnership :nth-last-child(3){
    background-color: var(--dropbox-arizona-university);
}
.left-container-partnership :nth-last-child(2){
    background-color: var(--dropbox-florida-university);
}
.left-container-partnership :last-child{
    background-color: var(--dropbox-toops);
}
.center-container-partnership{
    background-color: var(--dropbox-backgroun-designit);
}

.right-container-partnership{
    flex-wrap: wrap;
}
.right-container-partnership :first-child{
    background-color: var(--dropbox-world-bicycle-relief);
}
.right-container-partnership :nth-last-child(3){
    background-color: var(--dropbox-hearst-corporation);
}
.right-container-partnership :nth-last-child(2){
    background-color: var(--dropbox-loney-planet);
}
.right-container-partnership :last-child{
    background-color: var(--dropbox-clear-channel-outdoor);
}
.posi-relative{
    position: relative;
}
.posi-abso{
    position: absolute;
}
/* endregion section partnership dropbox */

/* section banner dropbox */
.banner-dropbox{
    width: 100vw;
    background-color: var(--drophox-background-azzure);
}
.banner-container{
    padding: 100px 0;
}
.col{
    width: calc((100%/12)*6);
}
.right > h2{
    margin: 0;
    color: var(--drophox-text-important);
    margin-top: -10px;
}
.left-banner{
    text-align: center;
}
.btn-banner{
    font-size: 15px;
    padding: 0.5rem 2rem;
    border: none;
}
/* endsection banner dropbox */

/* region section frequent question dropbox */
.frequent-question-dropbox{
    padding-bottom: 100px;
}
.frequent-question-dropbox >h2{
    margin-bottom: 80px;
}
.question{
    
    border-top: 1px solid;
    padding: 30px 0;
}
.icon-question{
    text-align: end;
    padding-right: 50px;
}
/* region section frequent question dropbox */

/* end region main */

/* region footer */

/* region top footer */
#site-footer{
    padding: 100px 0 50px;
    width: 100vw;
    background-color: var(--drophox-dark); 
    color: var(--drophbox-light);
}
.top-footer{
    margin: 80px 0;
}
.footer-discord > h4{
    font-size: 25px;
    padding-bottom: 30px;
}
.list-footer{
    color: var(--drophbox-light);
    line-height: 40px;
}
/* endregion top footer */

.separatore{
    color: gray;
    font-size: 25px;
}

.bottom-footer{
    padding-top: 70px;
}
.bottom-footer > i{
    padding-right: 5px;
}
/* end region footer */
