/* region common */

:root{
    --drophbox-light: #FFFFFF;
    --drophox-dark: #000000;
    --drophox-btn: #0061ff;
    --drophox-background-azzure: #b4d0e7;
    --drophox-text-important: #835971;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--drophox-dark);
    background-color: green;
    overflow-x: hidden;
}
/* end region common */

/* region utilies */
.container-big{
    max-width: 1850px;
    margin: auto;
}
.container-medium{
    max-width: 1200px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin: auto;
}
.d-flex{
    display: flex;
}
.grow-1{
    flex-grow: 1;
}
.col-8{
    width: calc((100%/12)*8);

}
.col-4{
    width: calc((100%/12)*4);

}
li>a{
    text-decoration: none;
    color: var(--drophox-dark);
}
ul>li{
    list-style: none;
}
ul{
    gap: 2rem;
}
ul>li{
    list-style: none;
}
/* end region utilies */

/* region header */
#site-header{
width: 100vw;
height: 80px;
background-color: var(--drophbox-light);
}
.siderbar{
    align-items: center;
    height: 100%;
}
.left{
    gap: 2rem;
}
.right{
    justify-content: flex-end;
    align-items: center;
}
.d-flex, ul{
    align-items: center;
}
.btn{
    color: white;
    background-color: var(--drophox-btn);
    padding: 0.5rem 0.75rem;
    font-weight: 700;
    border: none;
}

/* end region header */

/* region main */

/* region main principal */
.main-principal{
    background-color: var(--drophox-background-azzure);
    width: 100vw;
}
h1{
    font-size: 80px;
    font-weight: 700;
    padding: 50px 0;
}
.info-use > *{
    display: block;
    margin: 35px 0;
}
.info-use > i{
    margin: 80px 0 10px;
    font-size: 50px;
}
.info-use-image > img{
    width: 100%;
    margin-bottom: -100px;
}
/* region main principal */

/* region section business */
h2{
    margin-top: 150px ;
    font-size: 40px;
}
.business-plane-radio{
    margin-top: 50px;
    gap: 2rem;
}
.card{
    border: 1px solid gray;
    
}
.card-header{
    border: 1px solid gray;  
    text-align: center;  
}
.card-body-info{
    padding: 30px;
}
.card-body-info > *{
    display: block;
}
h3{
    font-size: 25px;
}
.price-on-month{
    color: gray;
}


/* region section business */


/* end region main */

/* region footer */
/* end region footer */
