/* region common */

:root {
    --drophbox-light: #FFFFFF;
    --drophox-dark: #000000;
    --drophox-btn: #0061ff;
    --drophox-background-azzure: #b4d0e7;
    --drophox-text-important: #835971;
    --dropbox-designit: #a2d39b;
    --dropbox-florida-university: #0093ce;
    --dropbox-arizona-university: #61082b;
    --dropbox-toops: #ff1c1c;
    --dropbox-world-bicycle-relief: #d5001f;
    --dropbox-loney-planet: #0d2481;
    --dropbox-hearst-corporation: #b4d0e7;
    --dropbox-clear-channel-outdoor: #ffd830;
    --dropbox-backgroun-designit: #f5f5f5;
    --dropbox-menu-dropdown: #dfdcd7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--drophox-dark);
    background-color: var(--drophbox-light);
    overflow-x: hidden;
}

/* end region common */

/* region utilies */
.container-big {
    max-width: 1850px;
    margin: auto;
    width: 95%;
}

.container-medium {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0 10px;
}

.container-small {
    max-width: 1000px;
    margin: auto;
    width: 95%;
}

.row {
    flex-wrap: wrap;
}


.d-flex {
    display: flex;
}

.grow-1 {
    flex-grow: 1;
}

.col-8 {
    width: calc((100%/12)*8);

}

.col-4-950 {
    width: calc((950px/12)*4);
}

.col-4 {
    width: calc((100%/12)*4 - 20px);

}

li>a {
    text-decoration: none;
    color: var(--drophox-dark);
}

ul>li {
    list-style: none;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

/* end region utilies */

/* region header */
#site-header {
    width: 100vw;
    max-height: 90px;
    background-color: var(--drophbox-light);
    position: fixed;
    border-bottom: 1px solid gray;
    z-index: 3;
    top: 0;
}

.siderbar {
    align-items: center;
    height: 100%;
}

.right {
    justify-content: flex-end;
    align-items: center;
}

.left>img {
    padding: 30px;
}

.d-flex+ul {
    align-items: center;
}

.right>ul {
    align-items: center;
}

.right>.posi-rela li:nth-last-child(1) {
    cursor: default;

}

.right>.posi-rela>li {
    height: 100%;
    display: block;
}

.btn {
    color: var(--drophbox-light);
    background-color: var(--drophox-btn);
    padding: 0.5rem 0.75rem;
    font-weight: 700;
    border: none;

}

.btn:hover {
    color: var(--drophox-dark);
    transition: 0.5s;
}

.posi-rela {
    position: relative;
    height: 100%;

}

.posi-rela>li {
    padding: 30px;
    cursor: pointer;
}

.right>.posi-rela>li:last-child {
    padding: 24px;
    cursor: pointer;
}

.posi-abso {
    position: absolute;
    top: 80px;
    left: 0;

}

.team {
    z-index: 2;
}

.use-case {
    left: 250px;
    z-index: 2;
}

.sector {
    left: 500px;
    z-index: 2;
}

.container-dropdown {
    line-height: 30px;
    background-color: var(--drophbox-light);
    background-color: var(--dropbox-menu-dropdown);
    visibility: hidden;
}

.container-dropdown>li {
    padding: 0 30px;
}

.container-function {
    background-color: var(--dropbox-menu-dropdown);
    position: absolute;
    top: 82px;
    left: 0;
    padding: 30px;
    min-width: 700px;
    box-shadow: 2px 2px;
    visibility: hidden;
}

.underline-function-dropbox {
    display: inline-block;
    padding: 31px;
}

.function-dropbox>li {
    cursor: default;
}

.function-dropbox>li>a {
    width: 100%;
    line-height: 30px;
}

.function-dropbox>li>a:hover {
    background-color: var(--drophbox-light);
    cursor: pointer;
}

.underline-function-dropbox:hover .container-function {
    visibility: visible;
}

.underline-menu:hover {
    background-color: var(--dropbox-menu-dropdown);
    transition: 0.5S;

}

.underline-why-dropbox:hover .why-dropbox {
    visibility: visible;
}

.container-dropdown>li:hover {
    background-color: white;
}

.dropmenu-left {
    display: none;
    align-items: center;

    position: relative;

    &:hover {
        background-color: var(--dropbox-menu-dropdown);
    }

    &>i {
        height: 100%;
        padding: 18px;
    }

    &:hover .cont-drop-left {
        display: flex;
    }
}


.cont-drop-left {

    position: absolute;
    left: -120px;
    right: -100px;
    top: 50px;
    display: none;
    max-width: 350px;
    background-color: var(--drophbox-light);

    &>* {
        width: 50%;
        cursor: pointer;
        padding: 15px;
    }

    &>.underline-function-dropbox {

        &:hover .container-function-drop {
            visibility: visible;
        }

        &>.container-function-drop {
            max-width: 700px;
            gap: 50px;
            min-width: 0;
            flex-direction: row;
            background-color: var(--dropbox-menu-dropdown);
            position: absolute;
            top: 50px;
            right: 0;
            padding: 30px;
            box-shadow: 2px 2px;
            visibility: hidden;

            &>ul {
                width: 100%;
                min-width: 200px;
            }
        }
    }
}


.right-sm {
    display: none;

}

/* end region header */

/* region main */

/* region main principal */
#main-principal {
    background-color: var(--drophox-background-azzure);
    width: 100vw;
    margin-top: 40px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    padding: 50px 0;
}

.info-use>* {
    display: block;
    margin: 25px 0;
}

#circle-hover:hover {
    transition: 0.5s;
    background-color: var(--drophbox-light);
    border-radius: 50%;
    scroll-snap-type: y -100px;
}

#circle-hover:active body {
    scroll-margin-bottom: 0;
}

a>i {
    margin: 50px 0 0;
    font-size: 50px;
    display: inline-block;
    padding: 5px 10px;
    color: #000000;
}

.info-use-image {
    width: calc((100%/12)*8);
    display: flex;
    transform: translateY(30px);
}

.info-use-image>img {
    width: 100%;
}

/* region main principal */

/* region section business */
.separatore {
    color: gray;
    padding-top: 10px;
}

h2 {
    margin-top: 150px;
    font-size: 40px;
}

.business-plane-radio {
    margin: 50px 0;
    gap: 2rem;
}

.continer-card-info {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.card-header {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px;
}

.card-body-info {
    padding: 30px;
}

.card-body-info>* {
    padding-bottom: 10px;
    gap: 0.5rem;
}

h3 {
    font-size: 25px;
}

.price {
    display: block;
}

.price-on-month {
    color: gray;
}

.number-user-info {
    margin-top: 10px;
}

.btn-trial-for-30gg {
    margin: 30px 0;
    padding: 1rem 2rem;
}

.card {
    border: 1px solid gray;
    box-shadow: 1px 1px 1px 1px;
}

.card-footer {
    padding: 0 30px 30px;
}

.card-footer>* {
    gap: 0.5rem;
    padding-bottom: 10px;
}

.point-of-the-plane>i {
    color: var(--drophox-btn);
}

.btn-contact>button {
    margin-bottom: 130px;
    padding: 0.5rem 2rem;
}

.btn-contact {
    justify-content: flex-end;
}

#settled-card-contact {
    display: block;
    padding: 20px 0 50px;
}

.btn-contact>a {
    height: 35px
}

.info-use>.btn {
    display: inline-block;
}

.trial-container {
    align-items: start;
    flex-direction: column;
}

/* region section business */

/* region section partner dropbox */
.partner-dropbox {
    width: 100%;
    padding: 100px 0;
}

.image-partner>img {
    width: 100%;
}

.text-partner {
    padding: 50px 0 0 50px;
}

.text-partner>p {
    margin: 15px 0;
}

.btn-shadow {
    color: var(--drophox-dark);
    font-size: 20px;
    border: 1px solid;
    padding: 1rem;
    background-color: var(--drophbox-light);
}

.btn-shadow:hover {
    background-color: var(--drophox-dark);
    color: var(--drophbox-light);
    transition: 0.5s;
}

/* endregion section partner dropbox */

/* region section multitasking dropbox */
.container-card-small {
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-small {
    padding-bottom: 30px;
}

.card-small>img {
    width: 100%;
}

.card-small>p {
    margin-top: 25px
}

.own-clients-dropbox>h2 {
    margin-bottom: 70px;
}

.text-important>a {
    padding: 30px;
    font-size: 18px;
}

.text-important>a:hover {
    background-color: var(--drophox-btn);
    font-weight: 700;
    color: var(--drophbox-light);
}

/*end region section multitasking dropbox */

/* region section partnership dropbox */
.partnership-dropbox {
    margin-top: 200px;
    width: 100vw;

}

.left-container-partnership {
    flex-wrap: wrap;
}

.square {
    justify-content: center;
    align-items: center;

    width: calc(100%/2);
    aspect-ratio: 1;
    max-height: 320px;
}

.width-image {
    width: 100%;
    max-width: 200px;
}

.width-image>img {
    width: 100%;
    filter: invert(100%);
}

.width-image-2 {
    width: 75%;
}

.article-designit {
    margin: 70px;
}

.article-designit>* {
    padding-bottom: 50px;
}

.article-designit>img {
    width: 250px;
    padding-bottom: 100px;

}

.left-container-partnership .square:first-child {
    background-color: var(--dropbox-designit);
    border: 15px solid #d1e9cd;
}

.left-container-partnership .square:nth-last-child(3) {
    background-color: var(--dropbox-arizona-university);
}

.left-container-partnership .square:nth-last-child(2) {
    background-color: var(--dropbox-florida-university);
}

.left-container-partnership .square.square:nth-last-child(1) {
    background-color: var(--dropbox-toops);
}

.center-container-partnership {
    background-color: var(--dropbox-backgroun-designit);
}

.right-container-partnership {
    flex-wrap: wrap;
}

.right-container-partnership .square:first-child {
    background-color: var(--dropbox-world-bicycle-relief);
}

.right-container-partnership .square:nth-last-child(3) {
    background-color: var(--dropbox-hearst-corporation);
}

.right-container-partnership .square:nth-last-child(2) {
    background-color: var(--dropbox-loney-planet);
}

.right-container-partnership .square:last-child {
    background-color: var(--dropbox-clear-channel-outdoor);
}

/* endregion section partnership dropbox */

/* section banner dropbox */
#banner-dropbox {
    width: 100vw;
    background-color: var(--drophox-background-azzure);
}

.banner-container {
    padding: 100px 0;
}

.col {
    width: calc((100%/12)*6);
}

.right>h2 {
    margin: 0;
    color: var(--drophox-text-important);
    margin-top: -10px;
}

.left-banner {
    text-align: center;
}

.btn-banner {
    color: var(--drophox-dark);
    font-size: 15px;
    padding: 0.5rem 2rem;
    border: none;
    background-color: white;
}

.btn-banner:hover {
    color: var(--drophbox-light);
    background-color: var(--drophox-dark);
    transition: 0.5s;
}

/* endsection banner dropbox */

/* region section frequent question dropbox */
.frequent-question-dropbox {
    padding-bottom: 100px;
}

.frequent-question-dropbox>h2 {
    margin-bottom: 80px;
}

.question {
    position: relative;
    border-top: 1px solid;
    padding: 30px 0;
    flex-direction: column;
}

.chevron {
    position: absolute;
    right: 70px;
}

.open-accordion {
    display: block;
}

.close-accordion {
    display: none;
}

.question:hover .open-accordion {
    display: none;
}

.question:hover .close-accordion {
    display: block;
}

.answer {
    padding-top: 30px;
    display: none;
}

.question:hover .answer {
    display: block;
}

/* endregion section frequent question dropbox */

/* end region main */

/* region footer */

/* region top footer */
#site-footer {
    padding: 100px 0 50px;
    width: 100vw;
    background-color: var(--drophox-dark);
    color: var(--drophbox-light);
}

.top-footer {
    margin: 60px 0;

    &>.footer-discord {
        padding-top: 10px;
    }
}

.footer-discord>h4 {
    font-size: 25px;
    padding-bottom: 30px;
}

.list-footer {
    color: var(--drophbox-light);
    line-height: 40px;
    border-bottom: 2px solid transparent;

    &:hover {
        transition: all 0.3s ease-in-out;
        border-color: var(--drophbox-light);
    }
}

/* endregion top footer */

.separatore {
    color: gray;
    font-size: 25px;
}

.bottom-footer {
    padding-top: 70px;
}

.bottom-footer>i {
    padding-right: 5px;
}

/* end region footer */



@media (max-width: 1150px) {
    .info-use-drophox {
        flex-direction: column-reverse;

        &>.col-4,
        &>.col-8 {
            width: 100%;
        }
    }

    .container-medium>h1 {
        padding-top: 80px;
        font-size: 60px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .business-plane-radio {
        justify-content: center;
    }

    .info-use {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>p {
            max-width: 500px;
            text-align: center;
        }

        #circle-hover {
            margin: 0;
        }
    }

    .siderbar>.right {
        display: none;
    }

    .right-sm {
        display: flex !important;
        justify-content: end;
        align-items: center;
    }

}


@media (max-width: 950px) {
    .card .col-4 {
        width: 50%;
    }

    /* #business > div > div.continer-card-info.d-flex > div:nth-child(1) */
    .continer-card-info {
        gap: 20px;

        &>.col-4 {
            width: calc(50% - 10px);

        }
    }

    .partner-dropbox {
        padding: 50px 10px;

        &>.col-4,
        &>.col-8 {
            width: 100%;

        }

        &>.col-4 {
            text-align: center;

            &>p {
                margin: 25px 0;
            }
        }
    }



    .multitasking-dropbox {

        &>h2:first-child {
            text-align: center;
        }


        .container-card-small {
            text-align: center;

            gap: 20px;

            &>.col-4 {
                width: calc(50% - 10px);
            }
        }

        .col-8 {
            width: 100%;
        }
    }

}


@media(max-width:1400px) {
    .partnership-dropbox {
        flex-wrap: wrap;
    }

    .sidebar-left {
        display: none;
    }

    .dropmenu-left {
        display: flex !important;
    }

    .left>img {
        width: 100%;
    }



    #site-header {

        .left {
            align-items: center;
        }


        .left>img {
            padding: 0;
        }

        .posi-rela>li {
            padding: 0;
        }

        .posi-rela>li:last-child {
            margin-left: 10px;
        }

        .right>.d-flex>.underline-menu {

            padding: 15px;
        }

        .right>.d-flex>.text-lg {
            display: none;
        }


    }
}

@media(max-width:580px) {
    .container-medium>h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    .continer-card-info {
        justify-content: center;

        &>.col-4 {
            max-width: 400px;
            width: 100%;

        }
    }

    .card .col-4 {
        width: 100%;
    }

    .business {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>div:last-child {
            max-width: 400px;

            &>.card-body-info>.d-flex {
                flex-wrap: wrap;
                gap: 30px;

                &>.col-8,
                &.col-4 {
                    width: 100%;
                }

                .btn-contact>a {


                    height: 100%;
                }
            }
        }
    }

    .multitasking-dropbox {
        .container-card-small {
            justify-content: center;

            &>.col-4 {
                width: 100%;
                max-width: 400px;
            }
        }

    }

    .width-image {
        width: 90%;
        min-width: 50px;
    }

    .article-designit {
        margin: 30px 15px;
    }

    .banner-container {
        gap: 40px;

        &>.col {
            width: 100%;
        }
    }



}

@media(max-width: 750px) {
    .chevron {
        margin-top: 20px;
        position: sticky;
    }
}